In [1]:
import pandas as pd

In [2]:
# to read Dataframes
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45],
  "time":[10,20,30]
}
df=pd.DataFrame(data)
print(df)

   calories  duration  time
0       420        50    10
1       380        40    20
2       390        45    30

In [3]:
print(df.loc[0])

calories    420
duration     50
time         10
Name: 0, dtype: int64

In [4]:
print(df.iloc[[0,1,2]])

   calories  duration  time
0       420        50    10
1       380        40    20
2       390        45    30

In [5]:
df=pd.DataFrame(data,index=["day1","day2","day3"])
print(df)

      calories  duration  time
day1       420        50    10
day2       380        40    20
day3       390        45    30

In [6]:
print(df.loc["day2"])

calories    380
duration     40
time         20
Name: day2, dtype: int64

In [7]:
df=pd.DataFrame(data,index=["day1","day2","day3"],columns=["time","calories"])
print(df)

      time  calories
day1    10       420
day2    20       380
day3    30       390

In [8]:
# to read csv files
df=pd.read_csv('data.csv')
print(df.to_string()) #to print the entire DataFrame.

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'    NaN       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'  106.0       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
18        45  '2020/12/18'   90.0       112       NaN
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
22        45           NaN  100.0       119     282.0
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60      20201226  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132       NaN
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [9]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'    NaN       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'  106.0       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
18        45  '2020/12/18'   90.0       112       NaN
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
22        45           NaN  100.0       119     282.0
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60      20201226  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132       NaN
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [10]:
print(df.shape)

(32, 5)

In [11]:
print(pd.options.display.max_rows)
# how many rows to display

60

In [12]:
# to read json files 
# JSON = Python Dictionary

# JSON objects have the same format as Python dictionaries.
#df=read_json('IMDB-Movie-Data.csv')

In [13]:
#print number of rows you want in a dataframe
#normally pass karoge to starting ki 5 rows print karega
Head=df.head(10)
print(Head)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'  110.0       130     409.1
1        60  '2020/12/02'  117.0       145     479.0
2        60  '2020/12/03'    NaN       135     340.0
3        45  '2020/12/04'  109.0       175     282.4
4        45  '2020/12/05'  117.0       148     406.0
5        60  '2020/12/06'  102.0       127     300.0
6        60  '2020/12/07'  110.0       136     374.0
7       450  '2020/12/08'  104.0       134     253.3
8        30  '2020/12/09'  109.0       133     195.1
9        60  '2020/12/10'   98.0       124     269.0

In [14]:
#with argument pass karoge to starting ki jitni chaho utni rows print karega
head=df.head(25)

In [15]:
head

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'    NaN       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'  106.0       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
18        45  '2020/12/18'   90.0       112       NaN
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
22        45           NaN  100.0       119     282.0
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0

In [16]:
#normally pass karoge to last ki 5 rows print karega
tail=df.tail()
print(tail)

    Duration          Date  Pulse  Maxpulse  Calories
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132       NaN
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [17]:
#with argument pass karoge to last ki 10 rows print karega
Tail=df.tail(10)
print(Tail)

    Duration          Date  Pulse  Maxpulse  Calories
22        45           NaN  100.0       119     282.0
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60      20201226  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132       NaN
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [18]:
# gives you more information about the data set.
info=df.info()
describe=df.describe()
print(info)
print(describe)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     31 non-null     float64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.4+ KB
None
         Duration       Pulse    Maxpulse    Calories
count   32.000000   31.000000   32.000000   30.000000
mean    68.437500  103.516129  128.500000  304.680000
std     70.039591    7.961872   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.000000  127.500000  291.200000
75%     60.000000  107.000000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [19]:
# Data cleaning means 
# fixing bad data in your data set.
# Bad data could be:
# Empty cells
# Data in wrong format
# Wrong data
# Duplicates

In [20]:
# cleaning empty cells
df=pd.read_csv('data.csv')
# new_df=df.head(25)
new_df=df.dropna() #dropna() method returns a new DataFrame, and will not change the original and removes the nan values from dataset.
print(new_df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'  106.0       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60      20201226  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [21]:
# jaha jaha calories m nan values h wha 130 fill kardega
df=pd.read_csv('data.csv')
df['Calories'].fillna(130,inplace=True)
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'    NaN       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'  106.0       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
18        45  '2020/12/18'   90.0       112     130.0
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
22        45           NaN  100.0       119     282.0
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60      20201226  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132     130.0
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [22]:
df=pd.read_csv('data.csv')
df['Maxpulse'].fillna(20,inplace=True)
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'    NaN       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'  106.0       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
18        45  '2020/12/18'   90.0       112       NaN
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
22        45           NaN  100.0       119     282.0
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60      20201226  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132       NaN
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [23]:
# Calculate the MODE, mean ,median and replace any empty values with it.
df=pd.read_csv('data.csv')
x=df['Calories'].mean()
df['Calories'].fillna(x,inplace=True)
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130    409.10
1         60  '2020/12/02'  117.0       145    479.00
2         60  '2020/12/03'    NaN       135    340.00
3         45  '2020/12/04'  109.0       175    282.40
4         45  '2020/12/05'  117.0       148    406.00
5         60  '2020/12/06'  102.0       127    300.00
6         60  '2020/12/07'  110.0       136    374.00
7        450  '2020/12/08'  104.0       134    253.30
8         30  '2020/12/09'  109.0       133    195.10
9         60  '2020/12/10'   98.0       124    269.00
10        60  '2020/12/11'  103.0       147    329.30
11        60  '2020/12/12'  100.0       120    250.70
12        60  '2020/12/12'  100.0       120    250.70
13        60  '2020/12/13'  106.0       128    345.30
14        60  '2020/12/14'  104.0       132    379.30
15        60  '2020/12/15'   98.0       123    275.00
16        60  '2020/12/16'   98.0       120    215.20
17        60  '2020/12/17'  100.0       120    300.00
18        45  '2020/12/18'   90.0       112    304.68
19        60  '2020/12/19'  103.0       123    323.00
20        45  '2020/12/20'   97.0       125    243.00
21        60  '2020/12/21'  108.0       131    364.20
22        45           NaN  100.0       119    282.00
23        60  '2020/12/23'  130.0       101    300.00
24        45  '2020/12/24'  105.0       132    246.00
25        60  '2020/12/25'  102.0       126    334.50
26        60      20201226  100.0       120    250.00
27        60  '2020/12/27'   92.0       118    241.00
28        60  '2020/12/28'  103.0       132    304.68
29        60  '2020/12/29'  100.0       132    280.00
30        60  '2020/12/30'  102.0       129    380.30
31        60  '2020/12/31'   92.0       115    243.00

In [24]:
y=df['Calories'].median()
df['Maxpulse'].fillna(y,inplace=True)
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130    409.10
1         60  '2020/12/02'  117.0       145    479.00
2         60  '2020/12/03'    NaN       135    340.00
3         45  '2020/12/04'  109.0       175    282.40
4         45  '2020/12/05'  117.0       148    406.00
5         60  '2020/12/06'  102.0       127    300.00
6         60  '2020/12/07'  110.0       136    374.00
7        450  '2020/12/08'  104.0       134    253.30
8         30  '2020/12/09'  109.0       133    195.10
9         60  '2020/12/10'   98.0       124    269.00
10        60  '2020/12/11'  103.0       147    329.30
11        60  '2020/12/12'  100.0       120    250.70
12        60  '2020/12/12'  100.0       120    250.70
13        60  '2020/12/13'  106.0       128    345.30
14        60  '2020/12/14'  104.0       132    379.30
15        60  '2020/12/15'   98.0       123    275.00
16        60  '2020/12/16'   98.0       120    215.20
17        60  '2020/12/17'  100.0       120    300.00
18        45  '2020/12/18'   90.0       112    304.68
19        60  '2020/12/19'  103.0       123    323.00
20        45  '2020/12/20'   97.0       125    243.00
21        60  '2020/12/21'  108.0       131    364.20
22        45           NaN  100.0       119    282.00
23        60  '2020/12/23'  130.0       101    300.00
24        45  '2020/12/24'  105.0       132    246.00
25        60  '2020/12/25'  102.0       126    334.50
26        60      20201226  100.0       120    250.00
27        60  '2020/12/27'   92.0       118    241.00
28        60  '2020/12/28'  103.0       132    304.68
29        60  '2020/12/29'  100.0       132    280.00
30        60  '2020/12/30'  102.0       129    380.30
31        60  '2020/12/31'   92.0       115    243.00

In [25]:
z=df['Pulse'].mode()
df['Pulse'].fillna(z)
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130    409.10
1         60  '2020/12/02'  117.0       145    479.00
2         60  '2020/12/03'    NaN       135    340.00
3         45  '2020/12/04'  109.0       175    282.40
4         45  '2020/12/05'  117.0       148    406.00
5         60  '2020/12/06'  102.0       127    300.00
6         60  '2020/12/07'  110.0       136    374.00
7        450  '2020/12/08'  104.0       134    253.30
8         30  '2020/12/09'  109.0       133    195.10
9         60  '2020/12/10'   98.0       124    269.00
10        60  '2020/12/11'  103.0       147    329.30
11        60  '2020/12/12'  100.0       120    250.70
12        60  '2020/12/12'  100.0       120    250.70
13        60  '2020/12/13'  106.0       128    345.30
14        60  '2020/12/14'  104.0       132    379.30
15        60  '2020/12/15'   98.0       123    275.00
16        60  '2020/12/16'   98.0       120    215.20
17        60  '2020/12/17'  100.0       120    300.00
18        45  '2020/12/18'   90.0       112    304.68
19        60  '2020/12/19'  103.0       123    323.00
20        45  '2020/12/20'   97.0       125    243.00
21        60  '2020/12/21'  108.0       131    364.20
22        45           NaN  100.0       119    282.00
23        60  '2020/12/23'  130.0       101    300.00
24        45  '2020/12/24'  105.0       132    246.00
25        60  '2020/12/25'  102.0       126    334.50
26        60      20201226  100.0       120    250.00
27        60  '2020/12/27'   92.0       118    241.00
28        60  '2020/12/28'  103.0       132    304.68
29        60  '2020/12/29'  100.0       132    280.00
30        60  '2020/12/30'  102.0       129    380.30
31        60  '2020/12/31'   92.0       115    243.00

In [26]:
#cleaning data